/********************/
/*Universal for site*/
/********************/

/*change font for site*/
body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1em;
	font-family: 'Raleway', sans-serif;
	text-align: justify;
	background-color: white;
}
/*Set height for site*/
body, html {
	height: 100%;
}

/*********************/
/*Contact Page Styles*/
/*********************/

/*Background*/
.bg {
	/* The image used */
	background: url(../images/background.jpg) no-repeat center;

	/* height */
	height: 80%;

	/* Center and scale the image nicely */
	background-size: cover;
}